.home
  .home__content
    .container
      h2.home__title Готов ли ты стать трейдером?
      p.home__text Итак, ты принял решение попробовать себя в роли трейдера. Наш тест, состоящий из 10 вопросов, даст<br> понимание, сможешь ты зарабатывать деньги трейдингом или стоит на время оставить эту затею<br> и пройти обучение.
  .home__container
    .container
      .home__quiz
        .marquiz__container.marquiz__container_inline
          a.marquiz__button.marquiz__button_blicked.marquiz__button_rounded(href='#popup:marquiz_5ca48c3b7712390044c16395', data-fixed-side='', data-alpha-color='rgba(211, 64, 133, 0.5)', data-color='#d34085', data-text-color='#ffffff') Пройти тест
      .contacts
        .contacts__section.contacts__section_left
          .contacts__text
            span.contacts__title Алеся Иванова
            span.contacts__sub-title Консультант компании BitOpen
          a(href="#").contacts__consultant
            img(src="img/photo.png", alt="")
        .contacts__section.contacts__section_right
          ul.contacts__list
            li.contacts__item
              a(href="#").contacts__link.contacts__link_wapp
            li.contacts__item
              a(href="#").contacts__link.contacts__link_viber
            li.contacts__item
              a(href="#").contacts__link.contacts__link_telegram
            li.contacts__item
              a(href="#").contacts__link.contacts__link_fb
            li.contacts__item
              a(href="#").contacts__link.contacts__link_vk
            li.contacts__item
              a(href="#").contacts__link.contacts__link_chat
      
